<mat-toolbar class="max-w-7xl mx-auto border-x flex justify-between">
  <a routerLink="home">AppStore</a>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon
      [matBadge]="itemsQuantity"
      [matBadgeHidden]="!cart.items.length"
      matBadgeColor="warn"
      >shopping_cart</mat-icon
    >
  </button>
  <mat-menu #menu class="w-80">
    <div class="p-5 divide-y divide-solid">
      <div class="pb-3 flex justify-between">
        <span>{{ itemsQuantity }} items</span>
        <a routerLink="cart">View Cart</a>
      </div>
      <div class="py-3">
        <ng-container *ngIf="cart.items.length">
          <div *ngFor="let item of cart.items" class="flex justify-between font-light mb-2">
            <span>{{item.name}} x {{item.quantity}}</span>
            <span class="font-bold">{{ item.price| currency }}</span>
          </div>
        </ng-container>
        <div *ngIf="!cart.items.length" class="font-bold text-center">
            <span>Cart is empty</span>
        </div>
      </div>
      <div class="flex pt-2 pb-1 gap-2">
        <span>Total:</span>
        <div class="font-bold">{{ getTotalPrice(cart.items)| currency }}</div>
      </div>
      <div class="divide-y flex justify-between pt-2">
        <button
          (click)="clearCart()"          
          title="Remove"
          class="bg-rose-700 rounded-full text-white w-9 h-9"
        >
          <mat-icon >remove_shopping_cart</mat-icon>
        </button>
        <button
          title="Buy"
          routerLink="cart"
          class="bg-green-700 rounded-full text-white w-9 h-9"
        >
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </mat-menu>
</mat-toolbar>
